html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0px 0px 10px 0px;
  margin: 0rem 0rem 0.625rem 0rem;
  font-weight: normal; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.row {
  max-width: 1280px;
  max-width: 80rem;
  margin: 0 auto; }
  .row {
    *zoom: 1; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.col {
  margin-left: 1.6%; }

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
  float: left; }

.col_1 {
  width: 8.3333333333%; }

.col_2 {
  width: 16.6666666667%; }

.col_3 {
  width: 25%; }

.col_4 {
  width: 33.3333333333%; }

.col_5 {
  width: 41.6666666667%; }

.col_6 {
  width: 50%; }

.col_7 {
  width: 58.3333333333%; }

.col_8 {
  width: 66.6666666667%; }

.col_9 {
  width: 75%; }

.col_10 {
  width: 83.3333333333%; }

.col_11 {
  width: 91.6666666667%; }

.col_12 {
  width: 100%; }

.col:first-child,
.col_12 {
  margin-left: 0; }

/* Gradient Love */
body.gradient-ease {
  animation: verticalBreathing 5s ease infinite;
  background: linear-gradient(-38deg, #cbbbe8, #c2ebec);
  background-size: 200% 200%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #2d2e3d; }

@keyframes verticalBreathing {
  0% {
    background-position: 0% 0%; }
  25% {
    background-position: 40% 40%; }
  50% {
    background-position: 80% 80%; }
  75% {
    background-position: 20% 60%; }
  100% {
    background-position: 0% 0%; } }
body #header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
  width: 100%; }
  body #header h1 {
    display: none; }
  body #header object {
    max-height: 2.5rem;
    opacity: .8;
    width: 14rem; }
    body #header object:hover {
      opacity: 1; }
body #main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center; }
  body #main .content {
    padding: 0 3rem;
    text-align: center;
    width: 100%; }
  body #main object {
    max-height: 110px;
    width: 100%;
    margin-bottom: 4rem; }
  body #main p.coming-soon {
    margin: 2rem 0 6rem 0;
    opacity: .7;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 4px;
    font-family: 'Julius Sans One', sans-serif; }
  body #main a.btn {
    background-color: transparent;
    border-radius: 16px;
    border: 1px solid rgba(68, 74, 88, 0.75);
    box-shadow: 2px 2px 6px 0 rgba(68, 74, 88, 0.1);
    color: #2d2e3d;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 35px;
    padding: 3px 20px;
    position: relative;
    transition: all 0.3s;
    text-decoration: none; }
    body #main a.btn:hover {
      background-color: #00000012;
      border-radius: 0;
      border-color: #2d2e3d;
      box-shadow: 2px 2px 6px 0 rgba(68, 74, 88, 0.2); }
@media only screen and (max-width: 550px) {
  body #header object {
    max-height: 2.5rem;
    margin-bottom: 3rem;
    width: 100%; }
  body #main object {
    margin: 8rem 0 6rem 0; }
  body #main p.coming-soon {
    font-size: 2.5rem;
    margin: 2rem 0 4rem 0; } }

/* Gradient Love */
body.gradient-rotation {
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #2d2e3d;
  position: relative; }
  body.gradient-rotation #header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
    z-index: 1; }
    body.gradient-rotation #header h1 {
      display: none; }
    body.gradient-rotation #header object {
      max-height: 3rem;
      opacity: .85;
      width: 14rem; }
  body.gradient-rotation #main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    z-index: 1; }
    body.gradient-rotation #main .content {
      max-width: 50%;
      text-align: center;
      width: 100%; }
    body.gradient-rotation #main object {
      max-height: 110px;
      width: 100%;
      margin-bottom: 4rem; }
    body.gradient-rotation #main p.coming-soon {
      margin: 2rem 0 6rem 0;
      opacity: .7;
      text-transform: uppercase;
      font-size: 5rem;
      letter-spacing: 4px;
      font-family: 'Julius Sans One', sans-serif; }
    body.gradient-rotation #main a.btn {
      background-color: transparent;
      border-radius: 16px;
      border: 1px solid rgba(68, 74, 88, 0.75);
      box-shadow: 0px 4px 8px 0 rgba(68, 74, 88, 0.1);
      color: #2d2e3d;
      display: inline-block;
      font-size: 1.5rem;
      line-height: 35px;
      padding: 3px 20px;
      position: relative;
      transition: all 0.3s;
      text-decoration: none; }
      body.gradient-rotation #main a.btn:hover {
        border-radius: 0;
        border-color: #444a58;
        box-shadow: 0px 4px 8px 0 rgba(68, 74, 88, 0.2); }

/*# sourceMappingURL=stylesheet.css.map */
