// File Name: _blue.scss
// Description: adds blue theme colors to modules
// Used by: Page.scss
// Dependencies:
// ------------------------------------------------------------

// /* Colors */
$purple: #cbbbe8;
$teal: #c2ebec;
$grey: #2d2e3d;

/* Gradient Love */
body.gradient-rotation {
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: $grey;
  position: relative;
  #header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
    z-index: 1;
    h1 {
      display: none;
    }
    object {
      max-height: 3rem;
      opacity: .85;
      width: 14rem;;
    }
  }

  #main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    z-index: 1;
    .content {
      max-width: 50%;
      text-align: center;
      width: 100%;
    }
    object {
      max-height: 110px;
      width: 100%;
      margin-bottom: 4rem;
    }
    p.coming-soon {
      margin: 2rem 0 6rem 0;
      opacity: .7;
      text-transform: uppercase;
      font-size: 5rem;
      letter-spacing: 4px;
      font-family: 'Julius Sans One', sans-serif;
    }
    a.btn {
      background-color: transparent;
      border-radius: 16px;
      border: 1px solid rgba(#444a58, .75);
      box-shadow: 0px 4px 8px 0 rgba(#444a58, .1);
      color: $grey;
      display: inline-block;
      font-size: 1.5rem;
      line-height: 35px;
      padding: 3px 20px;
      position: relative;
      transition: all 0.3s;
      text-decoration: none;
      &:hover {
        border-radius: 0;
        border-color: rgba(#444a58, 1);
        box-shadow: 0px 4px 8px 0 rgba(#444a58, .2);
      }
    }
  }
}
