// File Name: _gradient-ease.scss
// Description: adds gradient-ease theme colors to modules
// Used by: Page.scss
// Dependencies:
// ------------------------------------------------------------

/* Gradient Love */
body.gradient-ease {
  animation: verticalBreathing 5s ease infinite;
  background: linear-gradient(-38deg, $purple, $teal);
  background-size: 200% 200%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: $grey;
}

@keyframes verticalBreathing {
  0%   { background-position: 0% 0%;  }
  25%  { background-position: 40% 40%; }
  50%  { background-position: 80% 80%; }
  75%  { background-position: 20% 60%; }
  100% { background-position: 0% 0%;  }
}

body {
  #header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
    width: 100%;
    h1 {
      display: none;
    }
    object {
      max-height: 2.5rem;
      opacity: .8;
      width: 14rem;
      &:hover {
        opacity: 1;
      }
    }
  }

  #main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    .content {
      padding: 0 3rem;
      text-align: center;
      width: 100%;
    }
    object {
      max-height: 110px;
      width: 100%;
      margin-bottom: 4rem;
    }
    p.coming-soon {
      margin: 2rem 0 6rem 0;
      opacity: .7;
      text-transform: uppercase;
      font-size: 5rem;
      letter-spacing: 4px;
      font-family: 'Julius Sans One', sans-serif;
    }
    a.btn {
      background-color: transparent;
      border-radius: 16px;
      border: 1px solid rgba(#444a58, .75);
      box-shadow: 2px 2px 6px 0 rgba(#444a58, .1);
      color: $grey;
      display: inline-block;
      font-size: 1.5rem;
      line-height: 35px;
      padding: 3px 20px;
      position: relative;
      transition: all 0.3s;
      text-decoration: none;
      &:hover {
        background-color: #00000012;
        border-radius: 0;
        border-color: rgba($grey, 1);
        box-shadow: 2px 2px 6px 0 rgba(#444a58, .2);
      }
    }
  }
  @media only screen and (max-width: 550px) {
    #header object {
      max-height: 2.5rem;
      margin-bottom: 3rem;
      width: 100%;
    }
    #main object {
      margin: 8rem 0 6rem 0;
    }
    #main p.coming-soon {
      font-size: 2.5rem;
      margin: 2rem 0 4rem 0;
    }
  }
}
